<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/homepage">INFY AIRLINES</a>
    
    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookingpage">Book Flight</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/detailspage">View Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/availableflights">Available Flights</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="banner">
    <h2 class="heading">Available Flights</h2>

 <div class="flight-container">
 <div *ngFor="let flight of flights" class="flight-card">
    <h3>{{ flight.flightId }}</h3>
    <p><strong>From:</strong> {{ flight.source }}</p>
    <p><strong>To:</strong> {{ flight.destination }}</p>
    <p><strong>Time:</strong> {{ flight.time }}</p>
    <p><strong>Price:</strong> ₹{{ flight.price }}</p>
    <p><strong>Available seats:{{flight.seatlimit}}</strong></p>
    <button (click)="bookFlight(flight.flightId)">Book Now</button>
  </div>
  </div>
</div>
