<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/homepage">INFY AIRLINES</a>
    
    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookingpage">Book Flight</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/detailspage">View Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/availableflights">Available Flights</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="banner">
  <h1 class="banner-text">Welcome to Flight Booking System!</h1>

  <!-- Guidelines Section: Initially Visible -->
  <div class="guidelines" *ngIf="showGuidelines">
    <h2>Quick Guidelines :</h2>
    <ul>
      <li>While booking, enter a proper Flight ID (3-digit number).</li>
      <li>Number of booking tickets per passanger cannot exceed 2.</li>
      <li>Check the Available Flights before booking.</li>
    </ul>
    <button class="got-it" (click)="hideGuidelines()">Got It</button>
  </div>

  <!-- BookFlightComponent: Appears After Clicking "Got It" -->
  <app-bookflight *ngIf="!showGuidelines"></app-bookflight>
</div>
