<nav class="navbar">
    <h1 class="brand"><a routerLink="/homepage">Flight Booking</a></h1>
    <div class="nav-links">
      <a routerLink="/bookingpage">Book Flight</a>
      <a routerLink="/detailspage">View Details</a>
      <a routerLink="/availableflights">Available Flights</a>

    </div>
  </nav>
  <div class="banner">
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Passenger name</th>
             <th scope="col">From</th>
            <th scope="col">TO</th>
            <th scope="col">No of Tickets</th>
            <th scope="col">Amount</th>
            <th scope="col">Flight ID</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of detailsWithFlight">
            <th scope="row">{{d.detail.passengerName}}</th>
            <td *ngIf="d.flight">{{ d.flight.source }}</td>
      <td *ngIf="d.flight">{{ d.flight.destination }}</td>
            <td>{{d.detail.noOfTickets}}</td>
            <td>{{d.detail.amount}}</td>
            <td>{{d.detail.flightId}}</td>
            <td>
                 <button class="btn btn-primary me-2" (click)="printTicket(d.detail)">Print Ticket</button>
                <button class="btn btn-danger" (click)="deleteDetail(d.detail.id)">Delete</button>
            </td>
        </tr>

    </tbody>
</table>
<p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
</div>